{
  "semi": true,
  "trailingComma": "all",
  "singleQuote": true,
  "printWidth": 100,
  "arrowParens": "avoid",
  "overrides": [
    {
      "files": "*.scss",
      "options": { "singleQuote": false }
    },
    {
      "files": "*.yml",
      "options": { "trailingComma": "none" }
    }
  ]
}